@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.cont{
  background-image: url("/main.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.rates{
  background-color: rgba(70, 70, 70, 0.6);
}